<%# views/category_create.ejs %>

<% extend('layout') %>
<head>
    <script>
        tailwind.config = {
            plugins: [
                require('@tailwindcss/forms'),
            ],
        }
    </script>
</head>

<h1>Test</h1>