<%# views/inventory_overview.ejs %>

<% extend('layout') %>

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script defer>
        const collection_array = <%- JSON.stringify(collection_array) %>;
        console.log(collection_array);
    </script>
</head>

<% function capitalizeFirstLetter(string) { %>
    <%    return string.charAt(0).toUpperCase() + string.slice(1); %>
<% } %>

<section class="grid grid-cols-[1.5fr_8.5fr]">
    <ul class="menu bg-base-200 min-w-56 w-full rounded-box">
        <li class="menu-title flex gap-4">
            Dashboard
        </li>
        <li><a>Charts</a></li>
        <li><a>Statistics</a></li>
        <li><a>Graphs</a></li>
    </ul>
    
    <main class="px-12 h-screen">
        <h1 class="text-3xl mb-16">Dashboard</h1>
        <div class="grid grid-cols-[repeat(auto-fill,minmax(16rem,18rem))] gap-4">
            <% collection_array.forEach((item, index) => { %>
                <a href="<%= item.url %>">
                    <!-- <div class="w-56 h-32 bg-slate-700 rounded-sm"> -->
                    <div class="py-6 h-32 bg-slate-700 rounded-md flex justify-center items-center flex-wrap">
                        <%- item.icon %>
                        <label class="basis-full text-center text-2xl cursor-pointer">
                            <%= capitalizeFirstLetter(item.name) %>
                        </label>
                    </div>
                </a>
            <% }) %>
        </div>
    </main>
</section>