<%# views/shop.ejs %>

<% extend('layout') %>

<script defer>
    // const globalDomElements = {
    //     maleBtn: document.getElementById("male"),
    //     femaleBtn: document.getElementById("female"),
    // }

    // globalDomElements.maleBtn.addEventListener("click", () => {
    //     console.log("Male button has been clicked!");
    // })
    document.addEventListener("DOMContentLoaded", function() {
        const maleBtn = document.getElementById("male");
        console.log(maleBtn);
    })
</script>

<ul class="menu menu-horizontal bg-gray-600 ml-6">
    <% for (let i = 0; i < genders_array.length; i++) { %>
        <li class="text-lg">
            <a id="<%= genders_array[i].name === 'male' ? 'male' : 'female' %>">
                <%= genders_array[i].name === "male" ? "Men" : "Women" %>
            </a>
        </li>
    <% } %>
</ul>
<ul class="menu menu-horizontal bg-gray-600 ml-6">
    <% for (let i = 0; i < categories_array.length; i++) { %>
        <li class="text-lg">
            <a>
                <%= categories_array[i].name %>
            </a>
        </li>
    <% } %>
</ul>
<!-- <div role="tablist" class="tabs tabs-boxed w-60">
    <a role="tab" class="tab">Tab 1</a>
    <a role="tab" class="tab tab-active">Tab 2</a>
    <a role="tab" class="tab">Tab 3</a>
</div> -->